[Simulation_1 Settings]
server_id = 0
base_server_config_file = metacs_fl/server/config/flower_server.cfg
base_client_config_file = metacs_fl/client/config/flower_client.cfg
use_shared_actors_per_node = No
use_server_actor = No
use_client_actors = No
num_supernodes = 1
backend_name = ray
server_actor_resources = {num_cpus: 1, cpu_frequency: 2000, cpu_frequency_unit: MHz}
client_actors_resources = {num_cpus: 4}
backend_config = {client_resources: {num_cpus: 4, num_gpus: 0}, init_args: {logging_level: 30, log_to_driver: True}}
emulate_devices_performance = Yes
device_types_to_emulate = [edge_4_cores]
power_source_connection_scenarios = [connected_to_a_power_source]
network_types_to_emulate = [4g_lte]
network_quality_scenarios = [excellent, moderate, poor]
server_location = Paris
clients_locations_list = [Bordeaux, Grenoble, Lille, Louvain, Luxembourg, Lyon, Nancy, Nantes, Rennes, Sophia, Strasbourg, Toulouse]
initial_remaining_battery_level_percentage_list = [1.0]
filter_devices_according_to_client_resources = No
random_sampling_emulated_devices = Yes
manual_emulated_devices_list = []
seed = 777
simulation_output_folder = output_simulation/sim_1

; [Simulation_2 Settings]
; server_id = 0
; base_server_config_file = metacs_fl/server/config/flower_server.cfg
; base_client_config_file = metacs_fl/client/config/flower_client.cfg
; use_shared_actors_per_node = No
; use_server_actor = No
; use_client_actors = No
; num_supernodes = 3
; backend_name = ray
; server_actor_resources = {num_cpus: 1, cpu_frequency: 2000, cpu_frequency_unit: MHz}
; client_actors_resources = {num_cpus: 4}
; backend_config = {client_resources: {num_cpus: 4, num_gpus: 0}, init_args: {logging_level: 30, log_to_driver: True}}
; emulate_devices_performance = Yes
; device_types_to_emulate = [edge_4_cores]
; power_source_connection_scenarios = [connected_to_a_power_source]
; network_types_to_emulate = [4g_lte]
; network_quality_scenarios = [excellent, moderate, poor]
; server_location = Paris
; clients_locations_list = [Bordeaux, Grenoble, Lille, Louvain, Luxembourg, Lyon, Nancy, Nantes, Rennes, Sophia, Strasbourg, Toulouse]
; initial_remaining_battery_level_percentage_list = [1.0]
; filter_devices_according_to_client_resources = No
; random_sampling_emulated_devices = Yes
; manual_emulated_devices_list = []
; seed = 777
; simulation_output_folder = output_simulation/sim_2
